* {
  box-sizing: border-box;
}

body {
  margin: 0 auto; /*위 아래는 0, 좌우는 중앙으로*/
  color: rgb(12, 12, 12);
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: fixed; /* 스크롤과 무관하게 항상 위치가 고정 */
  top: 0;
  left: 0;
  z-index: 1000; /* position 속성이 설정된 엘리먼트 중 최상단에 위치하도록 */
  box-shadow: 10px 10px 10px -5px rgba(68, 68, 68, 0.1);
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

a:visited {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

/* 마우스 올라갔을 때: hover */
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.head-container .head-left {
  padding: 4px 8px;
  border-radius: 50px;
  background-color: rgb(255, 246, 252);
  font-weight: bold;
  font-size: 1.2rem; /*rem: 웹 브라우저에서 설정된 폰트가 기준*/
}

.head-container .head-mid {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-right {
  padding: 4px 8px;
  border-radius: 50px;
  background-color: rgb(255, 246, 252);
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-left a:hover {
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.head-container .head-right a:hover {
  color: rgb(80, 80, 80);
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.main {
  height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2015/08/17/18/23/balloons-892806_1280.jpg");
  /* background-color: rgb(255, 241, 246);
  opacity: 0.8; */
  background-repeat: no-repeat; /* 이미지 반복 없애기 */
  background-size: cover;
  background-position: center 57%; /* 이미지 보이는 부분 설정 */
  z-index: 1;
}

.main-container {
  width: 100%;
  height: 100%;
  z-index: 2;
  margin-top: 60px;
  /* header이 position-fixed이기 때문에 다른 position과 독립적임 */
  /* 따라서 section의 position-relative가 header을 고려하지 않아 margin을 주지 않으면 겹쳐져 있는 상태! */
  /* 그러므로 section에 header의 height만큼의 margin을 주어야 section이 header 아래부터 시작할 수 있음 */
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0.8rem;
  font-family: "Shadows Into Light", cursive;
}

.message {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  font-family: "Poor Story", cursive;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; /* 내부에 각 요소들이 균등하게 떨어져 있음 */
  align-items: center;
  padding: 1rem 0;
}

.skill {
  width: 25%;
  background-color: rgb(252, 252, 252);
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.8rem 1rem;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px rgb(90, 90, 90, 0.2);
}

.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}

.skill-title {
  display: flex;
  flex-direction: column; /* 수직 방향 flex */
  align-content: center; /* 가운데 정렬 */
}

.skill-name {
  font-weight: bold;
  color: #1d072b;
  margin-bottom: 0.2rem;
}
.skill-usage {
  font-size: 0.9rem;
  color: #000000;
}

.food-style {
  color: rgb(255, 135, 163);
}

.game-style {
  color: rgb(109, 209, 198);
}

.python-style {
  color: rgb(253, 138, 103);
}

.school-style {
  color: rgb(218, 235, 88);
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmap-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #000000;
}

.slide-prev {
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.slide-next {
  font-size: 2rem;
  cursor: pointer;
  color: #cfd8dc;
}

.arrow-container {
  display: flex;
}

.class-list {
  display: flex;
  list-style: none; /*이걸 해도 사실 margin, padding값은 사라지지 않음*/
  padding: 0;
  padding: 1rem 0;
  overflow: hidden;
}

.class-card {
  width: 240px; /*viewport 사이즈와 상관없이 사이즈 고정하는게 더 이쁨*/
  min-width: 240px; /*길이가 줄어들지 않음*/
  box-shadow: 10px 10px 10px -5px rgb(90, 90, 90, 0.2);
  border-radius: 8px;
  margin: 0 10px;
}

.class-image {
  width: 100%; /*240px으로 고정됨*/
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.class-type {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(83, 83, 83);
}

.class-format {
  color: rgb(83, 83, 83);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0.3rem;
}

.class-desc {
  width: 100%;
  margin-top: 0.2rem;
}

.class-title {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.8rem;
  color: rgb(80, 80, 80);
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 4;
  line-height: 1.4;
}

/* 최대 화면 사이즈 기준이 1200px */
/* 1200px보다 화면 사이즈가 커지면 inner 100%의 기준이 전체 화면이 아닌 1200px이 됨 */
@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
